<div id="<%= dom_id user %>">

  <h1 class="text-center"><%= user.username.upcase %></h1>
  <h3 class="text-center">Posts</h3>

  <%= will_paginate @user_articles, class: "apple_pagination mt-5 mb-5" %>
    <% @user_articles.each do |article| %>
      <div class="card mt-5 mb-5 shadow text-center">
        <div class="card-header">
          <strong><em><%= article.user.username if article.user %></em></strong>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= article.title %>
          </h5>
          <p class="card-text">
            <%= truncate(article.description,length: 100) %>
          </p>
          <div>
            <%= link_to "View", article, class: "btn btn-outline-info" %>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-warning" %>
            <%= link_to "Delete", article, method: :delete, class: "btn btn-outline-danger" %>
          </div>
        </div>
        <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(article.created_at) %> 
            edited <%= time_ago_in_words(article.updated_at) %> ago</small>
        </div>
      </div>
    <% end %>
    <%= will_paginate @user_articles, class: "apple_pagination mt-5 mb-5" %>
</div>
