<div class="container">
  <% if notice%>
    <div  class="alert alert-success alert-dismissible fade show m-2" role="alert">
      <p><%= notice %></p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <h1 class="text-center">Users</h1>

  <%= will_paginate @users, class: "apple_pagination mt-5 mb-5" %>

  <div id="users">
    <% @users.each do |user| %>
      <div class="card mt-5 mb-5 shadow text-center">
        <div class="card-header">
          <h5><strong><%= link_to user.username.upcase, user %></strong></h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= pluralize(user.articles.count, "articles") %> 
          </p>
          <div class="text-center">
            <%= link_to "View Profile", user, class: "btn btn-outline-info" %>
            <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-outline-warning" %>
          </div>
        </div>
        <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(user.created_at) %></small>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @users, class: "apple_pagination mt-5 mb-5" %>
  <%= link_to "Sign Up", signup_path %>
</div>