<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @user %>
  <div class="mb-3">

    <%= link_to "Back to users", users_path %><br />
    <% if logged_in? && @user == current_user %>
      <%= button_to "Edit Account", edit_user_path(@user), class: "btn btn-outline-warning mb-2" %>
      <%= button_to "Delete Account", @user, method: :delete, class: "btn btn-outline-danger" %>
    <% end %>
  </div>
</div>